.answer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.answer input {
  width: 100%;
}

.answer .operator {
  z-index: 10000;
  position: absolute;
  right: 20px;
  top: 10px;
}


.buttons .buttonSet {
  padding-top: 10px;
}

.buttons button {
  width: 50%;
  background-color: crimson;
}